/* App.css */
/* Styles for the top fold */
.App {
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Styles for the button in the top fold */
button.btn-primary {
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid red;
}

/* Styles for the full-width content area */
.full-width-div {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

/* Styles for the footer */




/* Navigation Menu Styles */


.bnav{
  height: auto
}
.bnav .nav-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.3s;
}

.bnav .nav-link:hover {
  background-color: rgba(1, 1, 1, 0.1);
  border-radius: 5px;
}

/* User Profile Section Styles */
.user-profile-section {
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: auto;
  /*border: 1px solid red;*/
  
}

.uprofile-btn{
  margin-left: 5px;
  /*border: 1px solid green;*/
}


/* Styles for the user profile image */
.profile-image {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
