/* App.css */

/* Styles for the top fold */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Styles for the button in the top fold */
button.btn-primary {
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

/* Styles for the full-width content area */
.full-width-div {
  padding: 20px;
  text-align: center;
}

/* Styles for the footer */
.bnav {
  height: auto;
}

.bnav .nav-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.3s;
}

.bnav .nav-link:hover {
  background-color: rgba(1, 1, 1, 0.1);
  border-radius: 5px;
}

/* User Profile Section Styles */
.user-profile-section {
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: auto;
}

.uprofile-btn {
  margin-left: 5px;
}

/* Styles for the user profile image */
.profile-image {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

/* Instance Wrapper */
.instance-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  left: 250px;
}

.instance-card {
  flex-basis: 20%;
  margin: 5px;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .instance-wrapper {
    left: 150px;
  }
}

@media screen and (max-width: 992px) {
  .instance-wrapper {
    left: 100px;
  }
}

@media screen and (max-width: 768px) {
  .instance-wrapper {
    left: 0;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .instance-card {
    flex-basis: calc(50% - 10px);
  }
}

@media screen and (max-width: 576px) {
  .instance-card {
    flex-basis: 100%;
  }
}
